// .card-deck {
//     background: rgb(245, 220, 220);
// }
body {
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

.game-start {
    display: block;
    position: relative;
    height: 400px;
    width: 261px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 230px;
    font-family: 'Oswald', sans-serif;
    background: transparent;
    border-color: rgb(223, 8, 8);
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgb(255, 0, 106);
    color: transparent;
    text-shadow: 0px 0px 20px rgb(223, 8, 8);
    -webkit-text-stroke: 3px rgb(223, 8, 8);
}


.game-start:hover {
    text-shadow: 0px 0px 20px rgb(7, 11, 218);
    -webkit-text-stroke: 3px rgb(7, 11, 218);
    box-shadow: 0px 0px 20px 2px rgb(7, 11, 218);
    border-color: rgb(7, 11, 218);
    cursor: pointer;
    .smile-container {
        display: block;
    }
    .frown-container {
        display: none;
    }
}

.smile-container {
    display: none;
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: black;
}

.wrapper {
    align-items: center;
}

.player-cards {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 200px;
    left: 7px;
    top: 20px;
    width: 100%;
    height: 100%;
    padding: 0px;
    list-style-type: none;
        li {
            margin: 15px;
            height: 200px;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 120px;
            font-family: 'Oswald', sans-serif;
            background: transparent;
            border-color: rgb(7, 11, 218);
            background: black;
            border-style: solid;
            border-radius: 15px;
            box-shadow: 0px 0px 20px 2px #0ff;
            color: none;
            text-shadow: -1px -1px 6px #070ada, 1px -1px 6px #070ada, -1px 1px 6px #070ada, 1px 1px 6px #070ada;
        }
}


.bust {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 200px;
    margin-bottom: 0;
    top: 290px;
    text-shadow: -1px -1px 6px #da0707, 1px -1px 6px #da0707, -1px 1px 6px #da0707, 1px 1px 6px #da0707;
}

.wrapper-2 {
    display: none;
}

.dealer-cards {
    display: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    left: 7px;
    width: 100%;
    height: 100%;
    padding: 0px;
    list-style-type: none;
        li {
            margin: 15px;
            height: 200px;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 120px;
            font-family: 'Oswald', sans-serif;
            background: transparent;
            border-color: rgb(7, 11, 218);
            background: black;
            border-style: solid;
            border-radius: 15px;
            box-shadow: 0px 0px 20px 2px #0ff;
            color: none;
            text-shadow: -1px -1px 6px #070ada, 1px -1px 6px #070ada, -1px 1px 6px #070ada, 1px 1px 6px #070ada;
        }
}

.winner {
    display: flex;
    justify-content: center;
    color: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: -1px -1px 6px #da0707, 1px -1px 6px #da0707, -1px 1px 6px #da0707, 1px 1px 6px #da0707;
}

.buttons-container {
    background: none;
    position: relative;
    display: flex;
    top: 20px;
    flex-flow: column-reverse;
    justify-content: center;
    text-align: center;
}

.btn-stay {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    border: none;
    background: none;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-shadow: 0px 0px 30px rgba(245, 15, 15, 0.6);
    -webkit-text-stroke: 2px rgb(245, 15, 15);
}

.btn-hit {
    width: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: none;
    background: none;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-shadow: 0px 0px 30px rgba(3, 206, 37, 0.6);
    -webkit-text-stroke: 2px rgb(3, 206, 37);
}

.btn-deal {
    display: none;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
    border: none;
    background: none;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    color: transparent;
    text-shadow: 0px 0px 30px rgba(15, 19, 245, 0.6);
    -webkit-text-stroke: 2px rgb(19, 15, 245);
}

.btn-deal:hover {
    cursor: pointer;
    padding-left: 5px;
}

.btn-stay:hover {
    cursor: pointer;
    padding-left: 5px;
}

.btn-hit:hover {
    padding-left: 5px;
    cursor: pointer;
}